<div ng-controller="LogovanjeController">
  <h4>Logovanje</h4>
  <p class="form-group">
    <label>Unesi email adresu: </label>
    <input type="text" ng-model="email" class="form-control">
  </p>
  
  <p class="form-group">
    <label>Unesi lozinku: </label>
    <input type="text" class="form-control" ng-model="lozinka" />
  </p>
  
  
  <button type="button" class="btn btn-sm btn-info" ng-click="logovanje()">Uloguj se!</button>
  
  <p> Nemas nalog? </p>
    
  <button type="button" class="btn btn-sm btn-info" ng-click="registrovanjeGosta()">Kreiraj nalog</button>
</div>