<md-dialog aria-label="Dodaj namirnicu" layout="column" style="border:solid black">
  <div flex="10">
  	<h1 style="color:black" > Dodaj namirnicu!</h1>
  </div>
   	  
   <p class="form-group">
    <label>Unesi namirnicu: </label>
    <input type="text" class="form-control" ng-model="namirnicaIme" required/>
  </p> 

 <button type="button" class="btn btn-sm btn-info" ng-click="dodaj()"> Kreiraj</button>
  <button type="button" class="btn btn-sm btn-info" ng-click="zatvoriDijalog()"> Zatvori</button>
	
 
</md-dialog>