<h2 style="color:black" >Dodaj pice!</h2>

  <p class="form-group">
    <label>Unesi ime pica: </label>
    <input type="text" class="form-control" ng-model="ime" required/>
  </p>
  
   <p class="form-group">
    <label>Unesi opis pica: </label>
    <input type="text" class="form-control" ng-model="opis" required/>
  </p> 
 
 
    <p class="form-group">
    <label>Unesi cenu pica: </label>
    <input type="text" class="form-control" ng-model="cena" required/>
  </p> 
  
   
  <button type="button" class="btn btn-sm btn-info" ng-click="dodajPice()"> Kreiraj</button>
  <button type="button" class="btn btn-sm btn-info" ng-click="zatvoriDijalog()"> Zatvori</button>