<h2 style="color:black" >Imeni podatke restorana!</h2>

  <p class="form-group">
    <label>Izmeni ime restorana: </label>
    <input type="text" class="form-control" ng-model="ime" required/>
  </p>
  
   <p class="form-group">
    <label>Izmeni opis restorana: </label>
    <input type="text" class="form-control" ng-model="opis" required/>
  </p> 

  
   
  <button type="button" class="btn btn-sm btn-info" ng-click="izmeniPodatkeRestoran()"> Izmeni</button>
  <button type="button" class="btn btn-sm btn-info" ng-click="zatvoriDijalog()"> Zatvori</button>